<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let connection of connections">
        <td>{{ connection.connectionId }}</td>
        <td>{{ connection.price }}</td>
        <td><a href="mailto:{{ connection.flight_date }}">{{ connection.flight_date }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
