<mat-card>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th [translate]="'general.starting_airport'" scope="col">
            Starting Airport
          </th>
          <th [translate]="'general.destination'" scope="col">Destination</th>
          <th [translate]="'general.price'" scope="col">Price</th>
          <th [translate]="'general.date'" scope="col">Date</th>
          <th [translate]="'general.more'" scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let connection of connections; let i= index"
          [attr.data-index]="i">
          <td>{{ connection.starting_airport.city.name }}</td>
          <td>{{ connection.destination_airport.city.name }}</td>
          <td>{{ connection.price }}</td>
          <td>
            {{
            connection.flight_date | date:'medium'
            }}
          </td>
          <a
            *ngIf="isActual(i)"
            routerLink="/connections/{{ connection.connectionId }}"
            routerLinkActive="active"
            class="choice">Reserve</a>
          <a *ngIf="!isActual(i)"
            style="color:green">Completed</a>
          <button (click)="deleteConnection(connection.connectionId)"
            style="float:right; margin-right:15px;">
            delete
          </button>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 [translate]="'general.order_by'">Order by</h4>
  <mat-form-field>
    <select matNativeControl [(ngModel)]="order">
      <option [translate]="'general.dateInc'" value="DateInc">Date (early first)</option>
      <option [translate]="'general.dateDesc'" value="DateDesc">Date (lately
        first)</option>
      <option [translate]="'general.priceInc'" value="PriceInc">Price (cheap
        first)</option>
      <option [translate]="'general.priceDesc'" value="PriceDesc">Price
        (expensive first)</option>
    </select>
  </mat-form-field>
  <button (click)="applyFilter()" [translate]="'general.apply'">apply</button>
</mat-card>
