<mat-card class="example-card">
  <mat-card-content>
    <div>
      <h1>From</h1>
      <ul>
        <li>city: {{ connection?.starting_airport.city.name }}</li>
        <li>adress: {{ connection?.starting_airport.address }}</li>
      </ul>
    </div>
    <div>
      <h1>To</h1>
      <ul>
        <li>city: {{ connection?.destination_airport.city.name }}</li>
        <li>adress: {{ connection?.destination_airport.address }}</li>
      </ul>
    </div>
    <b>Price: {{ connection?.price }}</b>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>

  <mat-form-field>
    <mat-label>Avaiable slots</mat-label>
    <mat-select [(ngModel)]="userSeat">
      <mat-option *ngFor="let slot of freeSlots" [value]="slot">
        ROW:{{ slot.row }}, NUMBER: {{ slot.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="reserveSlot()">Reserve</button>
</mat-card>
