<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title [translate]="'register.register'"></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input
          matInput
          placeholder="login"
          name="login"
          required
          [(ngModel)]="login"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="First name"
          name="fname"
          required
          [(ngModel)]="firstname"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Last Name"
          name="lname"
          required
          [(ngModel)]="surname"
        />
      </mat-form-field>
      <mat-form-field class="full-width" name="lname">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [translate]="'register.register-button'"
      (click)="registerUser()"
      routerLink="/login"
    ></button>
  </mat-card-actions>
</mat-card>
