<!-- <mat-toolbar>
  <span>My Application</span>
  <a routerLink="/login">Login</a>
  <a class="choice">WATCH</a>
  <a class="choice">DASHBOARD</a>
  <a class="choice">MANAGE</a>
  <a routerLinkActive="active">Crisis Center</a>
</mat-toolbar> -->

<mat-toolbar-row>
  <a [translate]="'footer.service'"></a>
  <a [translate]="'footer.about'"></a>
  <a [translate]="'footer.contact'"></a>
  <a [translate]="'footer.more_info'"></a>
  <button (click)="getConnections()">ODPYTAJ SERVER</button>
</mat-toolbar-row>
