<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th [translate]="'employees.name'" scope="col">start</th>
          <th [translate]="'employees.surname'" scope="col">Destination</th>
          <th [translate]="'employees.email'" scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let i= index"
          [attr.data-index]="i">

          <td>{{ employee.name }}</td>
          <td>{{ employee.surname}}</td>
          <td>{{ employee.email }}</td>
          <div></div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
