<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th [translate]="'general.destination'" scope="col">Destination</th>
          <th [translate]="'general.price'" scope="col">Price</th>
          <th [translate]="'general.date'" scope="col">Date</th>
          <th [translate]="'general.more'" scope="col">More</th>
          <th scope="col">Row</th>
          <th scope="col">Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.connection.starting_airport.city.name }}</td>
          <td>{{ reservation.connection.destination_airport.city.name }}</td>
          <td>{{ reservation.connection.price }}</td>
          <td>{{ reservation.connection.flight_date }}</td>
          <td>{{ reservation.seat.row }}</td>
          <td>{{ reservation.seat.number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
