<mat-card>
  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="startPoint"
      type="text"
      matInput
      placeholder="From"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let airport of airports" [value]="airport.city.name">
        {{ airport.city.name }}, {{ airport.address }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="destinationPoint"
      type="text"
      matInput
      placeholder="To"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let airport of airports" [value]="airport.city.name">
        {{ airport.city.name }}, {{ airport.address }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="searchConnections()">Search</button>

  <mat-list>
    <b *ngIf="avaiableConnectionsAmount === 0">ANY AVAIABLE CONNECTIONS</b>
    <mat-list-item *ngFor="let connection of avaiableConnections">
      <a>DATE: {{ connection.flight_date }} PRICE:{{ connection.price }}$</a>
    </mat-list-item>
  </mat-list>
</mat-card>
