<mat-card>
  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="startPoint"
      type="text"
      matInput
      placeholder="From"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let airport of airports" [value]="airport.city.name">
        {{ airport.city.name }}, {{ airport.address }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="destinationPoint"
      type="text"
      matInput
      placeholder="To"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let airport of airports" [value]="airport.city.name">
        {{ airport.city.name }}, {{ airport.address }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="searchConnections()">Search</button>

  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th [translate]="'general.destination'" scope="col">Destination</th>
          <th [translate]="'general.price'" scope="col">Price</th>
          <th [translate]="'general.date'" scope="col">Date</th>
          <th [translate]="'general.more'" scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let connection of avaiableConnections">
          <td>
            {{ connection.starting_airport.city.name }},
            {{ connection.starting_airport.address }}
          </td>
          <td>
            {{ connection.destination_airport.city.name }},
            {{ connection.destination_airport.address }}
          </td>
          <td>{{ connection.price }}</td>
          <td>{{ connection.flight_date }}</td>
          <td>
            <a
              routerLink="/connections/{{ connection.connectionId }}"
              routerLinkActive="active"
              class="choice"
              >INFO</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>Order by</h4>
  <mat-form-field>
    <select matNativeControl [(ngModel)]="order">
      <option [translate]="'general.dateInc'" value="DateInc"
        >Date (early first)</option
      >
      <option [translate]="'general.dateDesc'" value="DateDesc"
        >Date (lately first)</option
      >
      <option [translate]="'general.priceInc'" value="PriceInc"
        >Price (cheap first)</option
      >
      <option [translate]="'general.priceDesc'" value="PriceDesc"
        >Price (expensive first)</option
      >
    </select>
  </mat-form-field>
  <button (click)="applyFilter()" [translate]="'general.apply'">apply</button>
</mat-card>
