<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Topic</mat-label>
        <input matInput placeholder="topic" name="fname" [(ngModel)]="title" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Content</mat-label>
        <input
          matInput
          placeholder="Content"
          name="fname"
          [(ngModel)]="content"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Tags"
          name="lname"
          [(ngModel)]="description"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [translate]="'general.add'"
      (click)="addArticle()"
      routerLink="/home"
    ></button>
  </mat-card-actions>
</mat-card>
