a {
  margin: 10px;
}
.logo {
  margin-right: 100px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  border-top-right-radius: 40px 50px;
  border-bottom-right-radius: 10px 30px;
  border-bottom-left-radius: 25px 30px;
  border-top-left-radius: 15px 15px;
  padding: 5px;
  margin-right: 20px;
}
